@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cinzel:wght@500;600;700;800;900&family=Viaoda+Libre&display=swap');

body{
    margin: 0;
    padding: 0;   
    overflow: hidden;
    background: linear-gradient(to bottom, #AF6480 , #c59eb9); 
    height: 150vh;
}

.img-social{
    width: 4rem;
    height: auto;
    cursor: pointer !important;
}
.img-social-fundo{
    background-color: antiquewhite;
    border-radius: 16%;
}

.img-Info{
    width: 3rem;
    height: auto;
    cursor: pointer !important;
}

h4{
  font-family: 'Viaoda Libre', cursive;
  color: black;
  font-size: 1.7rem;
  font-weight: bold;
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px; 
  color: #30336b;
  cursor: pointer !important;
}

.F{
  background-color: #D6A2E8;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

  body{ 
      overflow: auto;
      background-size: cover;
      height: 100%; 
      margin-bottom: 20%;
      width: auto;   
  }
  .img-social{
      width: 3rem;
  }
  .img-Info{
      width: 2rem;
      height: auto;
  }

  h4{
    font-size: 1.2rem;
  }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */
